<<div class="container" style="padding-top:150px; padding-bottom:50px;">
    <div class="row w-100 justify-content-between">
        <div class="col-md-7 p-3" style="border:2px solid #e6e6e6">
            <div class="address-area d-flex flex-column">
                <h3>Delivery Address</h3>
                <div class="d-flex flex-column">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="fullName">Full Name</label>
                            <input id="fullName" type="text" class="form-control" placeholder="Full Name*" />
                        </div>
                        <div class="col-md-6">
                            <label for="phoneNumber">Phone Number</label>
                            <input id="phoneNumber" type="text" class="form-control" placeholder="Phone Number*" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="country">Country</label>
                            <input id="country" type="text" class="form-control" placeholder="Country*" />
                        </div>
                        <div class="col-md-6">
                            <label for="city">City</label>
                            <input id="city" type="text" class="form-control" placeholder="City*" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="email">E-Mail</label>
                            <input id="email" type="email" class="form-control" placeholder="E-Mail*" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="fullAddress">Full Address</label>
                            <input id="fullAddress" type="text" class="form-control" placeholder="Full Address*" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 border border-light rounded p-4">
            <div class="d-flex align-items-center mb-4">
                <i class="fa-solid fa-truck fa-2x me-2"></i>
                <p class="mb-0">This Order Ships Free!</p>
            </div>
            <div class="d-flex justify-content-between mb-3">
                <strong><h5 class="mb-0">Item:</h5></strong>
                <h5 class="mb-0">$120</h5>
            </div>
            <div class="d-flex justify-content-between mb-3">
                <strong><h5 class="mb-0">Promotional Savings:</h5></strong>
                <h5 class="mb-0 text-danger">-$20</h5>
            </div>
            <div class="d-flex justify-content-between mb-3">
                <strong><h5 class="mb-0">Subtotal After Discount:</h5></strong>
                <h5 class="mb-0">$100</h5>
            </div>
            <div class="d-flex justify-content-between mb-3">
                <strong><h5 class="mb-0">Shipping:</h5></strong>
                <h5 class="mb-0">$10</h5>
            </div>
            <div class="d-flex justify-content-between mb-4 border-top pt-2">
                <strong><h3 class="mb-0">TOTAL:</h3></strong>
                <h3 class="mb-0">$110</h3>
            </div>
            <button class="btn btn-primary w-100">SUBMIT ORDER</button>
        </div>


    </div>
</div>
