<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer-about">
                <div class="footer-logo">
                    <a>LOGO</a>
                </div>
                <p>
                    The customer is at the heart of our unique business model, which includes design.
                </p>
                <a href="#">
                    <img src="~/images/payment.png" />
                </a>
            </div>
        </div>
        <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
            <div class="footer-widget">
                <h6>Shopping</h6>
                <ul class="m-0 p-0">
                    <li><a href="#">Clothing Store</a></li>
                    <li><a href="#">Trending Shoes</a></li>
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Sale</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="footer-widget">
                <h6>Shopping</h6>
                <ul class="m-0 p-0">
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Payment Methods</a></li>
                    <li><a href="#">Delivary</a></li>
                    <li><a href="#">Return &amp; Exchanges</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
            <div class="footer-widget">
                <h6>NewsLetter</h6>
                <div class="footer-newslatter">
                    <p>Be the first to know about new arrivals, look books, sales & promos!</p>

                    <form action="#">
                        <div class="d-flex"style="gap:20px;">
                            <input type="text" placeholder="Your email">
                            <button type="submit" class="d-flex align-items-end">
                                <i class="fa-regular fa-envelope" style="color: #b7b7b7; font-size:20px;"></i>
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="footer__copyright__text">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <p>
                    Copyright ©
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    All rights reserved | This template is made with <i class="fa-regular fa-heart" style="color: #e10909;"></i> by <a href="#" target="_blank">Tuğba Büyük</a>
                </p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </div>
</div>