
<div class="container-fluid">
    <!-- logo -->
    <div class="site-logo">
        <img src="theme/img/logo.png" alt="logo">
    </div>
    <!-- responsive -->
    <div class="nav-switch">
        <i class="fa fa-bars"></i>
    </div>
    <div class="header-right">
        <a href="#" class="card-bag" id="cartButton"><i class="fas fa-cart-shopping" style="color: #000;"></i><span></span></a>
        <a href="#" class="search"><i class="fa-solid fa-magnifying-glass" style="color: #000;"></i></a>
    </div>
    <!-- site menu -->
    <ul class="main-menu">
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Woman</a></li>
        <li><a href="#">Man</a></li>
        <li><a href="#">LookBook</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</div>
