<div class="home-demo">
    <div class="owl-carousel owl-theme">
        <div class="item">
            <img src="images/slide-02.jpg">
        </div>
        <div class="item">
            <img src="images/slide-03.jpg">
        </div>
        <div class="item">
            <img src="images/slide-04.jpg">
        </div>
    </div>
</div>