/*Navbar*/
.header-section {
    position: fixed;
    width: 100%;
    padding: 20px;
    left: 0;
    top: 0;
    z-index: 99;
    background-color:#FFF;
}

.site-logo {
    display: inline-block;
    padding-top: 0;
    float: left;
}

.nav-switch {
    display: none;
}

.header-right {
    float: right;
}

.header-right .card-bag {
    position: relative;
    text-align: center;
}


    .header-right .search {
        margin-left: 20px;
    }
    .header-right a {
        display: inline-block;
    }
.main-menu {
    list-style: none;
    margin: 0 auto;
    display: block;
    float: right;
    margin-right: 450px;
}
    .main-menu li {
        display: inline;
        float: left;
    }
        .main-menu li a {
            display: inline-block;
            font-size: 14px;
            text-transform: uppercase;
            text-decoration:none;
            font-weight: 600;
            color: #000;
            padding: 8px 5px 0;
            margin-left: 50px;
        }


.home-demo .item {
    background: #ff3f4d;
}

.home-demo h2 {
    color: #FFF;
    text-align: center;
    padding: 5rem 0;
    margin: 0;
    font-style: italic;
    font-weight: 300;
}
.image-container, .cat-img {
    position: relative;
}

    .image-container img ,.cat-img img{
        width: 100%;
    }

    .image-container .overlay {
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFF;
        text-align: center;
        font-size: 24px;
        pointer-events: none; /* Ensures clicks pass through to the underlying link */
    }

.cat-img .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-size: 24px;
    pointer-events: none; /* Ensures clicks pass through to the underlying link */
}

.image-container .overlay a {
    color: #FFF;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.5;
}

            .image-container .overlay a i {
                margin-left: 8px;
                color: #FFF;
            }
    .cat-img .overlay a {
        color: #FFF;
        text-decoration: none;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.5;
    }

        .cat .overlay a i {
            margin-left: 8px;
            color: #FFF;
        }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #757575 !important;
    background-color: transparent !important;
    text-decoration:underline;
}
.nav-link {
    color: #757575 !important;
}
.product-img img{
    width:270px;
    height:270px;
}
.product-info > h4, .product-info > p  {
    font-weight: 700 !important;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.blog-img{
    overflow:hidden;
}
    .blog-img > img {
        transition: transform .5s ease;
    }
.blog-img:hover img {
    transform: scale(1.1);
}
.blog-author-date {
    font-size: 14px;
    color: #999;
    font-weight:400;
}
.blog-title {
    font-size: 20px;
    line-height: 1.333333;
    color:#333 !important;
}
.blog-item{
    gap:25px;
}
.blog-context {
    gap: 10px;
}
.blog-title-link:hover {
    color: #717fe0 !important;
}
.blog-title-link {
    color: #333 !important;
    text-decoration: none;
}
.blog-desc {
    font-size: 16px;
    line-height: 1.7143;
    color: #888;
}
.blog-section-title > h3{
    font-size: 50px;
    line-height: 1.1;
    color: #222;
    font-weight: 500;
}
footer {
    background: #111111;
    padding-top: 70px;
    display:block;
}
.footer-logo{
    margin-bottom:30px;
}
.footer-logo > a {
    font-size:30px;
    color:#FFF !important;
}
.footer-about > p {
    color: #b7b7b7;
    margin-bottom: 30px;
}
.footer-about{
    margin-bottom:30px;
}
.footer-widget {
    margin-bottom: 30px;
}
    .footer-widget > h6 {
        color: #ffffff;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }

.footer-widget ul li {
    line-height: 36px;
    list-style: none;
}
    .footer-widget ul li a {
        color: #b7b7b7;
        font-size: 15px;
        text-decoration:none;
    }

    .footer-widget .footer-newslatter p {
        color: #b7b7b7;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        margin: 0 0 15px 0;
    }
.footer-widget .footer-newslatter form input {
    width: 100%;
    font-size: 15px;
    color: #3d3d3d;
    background: transparent;
    border: none;
    padding: 15px 0;
    border-bottom: 2px solid #ffffff;
}
.footer__copyright__text {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 0;
    margin-top: 40px;
}
    .footer__copyright__text p {
        color: #b7b7b7;
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        margin: 0 0 15px 0;
    }
        .footer__copyright__text p a {
            color: #e10909;
            text-decoration:none;
        }
.modal {
    --bs-modal-width: 1170px!important;
}
.modal-content{
    border-radius:0px;
}

.product-images .thumb img {
    width: 100%;
    cursor: pointer;
    margin-bottom: 10px;
}

.product-images .main-image img {
    width: 100%;
}

.product-info {
    padding: 20px;
}

.select2-container .select2-selection--single {
    height: 38px;
}

.btn-num-product {
    border: 1px solid #ddd;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
}
.product-images {
    width: 100%;
    display: flex;
    gap: 40px;
}
.quick-view-btn {
    background-color: #e7e7e7 !important;
    color: #000;
    padding: 5px;
}
    .quick-view-btn:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
.coupon-area {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
}

    .apply-coupon input {
        width: 220px;
        height: 45px;
        border: 1px solid #e6e6e6;
        border-radius: 22px;
        font-size: 14px;
        line-height: 1.466667;
        color: #333;
        margin-right: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 20px;
    }
    .apply-coupon button  {
        display:flex;
        border: 1px solid #e6e6e6;
        border-radius: 22px;
        background-color: #f3f3f3;
        min-width: 163px;
        height: 45px;
        font-size: 15px;
        line-height: 1.466667;
        text-transform: uppercase;
        color: #333;
        justify-content:center;
        align-items:center;
        cursor:pointer;
        margin-bottom:5px;
        margin-top:5px;
        padding-right:15px;
        padding-left:15px;
        font-weight:500;
    }
.coupon-area a {
    display: flex;
    border: 1px solid #e6e6e6;
    border-radius: 22px;
    background-color: #222;
    min-width: 163px;
    height: 45px;
    font-size: 15px;
    line-height: 1.466667;
    text-transform: uppercase;
    color: #FFF;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: 500;
    text-decoration:none;
}
