@model CouponCodeDtoForUpdate

<div class="text-center">
    <div class="display-6">Update</div>
</div>


<form method="post" asp-action="Create">
    <div class="text-danger" asp-validation-summary="All"></div>

    <div class="form-group my-3">
        <label asp-for="CouponCodeName"></label>
        <input class="form-control" asp-for="CouponCodeName" />
    </div>
    <div class="form-group my-3">
        <label asp-for="CouponCodeDiscount"></label>
        <input class="form-control" asp-for="CouponCodeDiscount" />
    </div>
    <div class="form-check form-switch">
        <input asp-for="IsActive" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Is Active</label>
    </div>
    <div class="form-group my-3">
        <div class="btn-group">
            <button class="btn btn-primary" type="submit">
                <i class="fa fa-save"></i>
                Save
            </button>
            <a asp-action="Index" class="btn btn-outline-primary">
                <i class="fa fa-list"></i>
                Coupon Codes
            </a>
        </div>
    </div>

</form>